h1{color: brown;

}
header{
background-color: rgb(15, 27, 133);
text-align: center;
}
nav{
    padding: 20px;
    
    background-color: rgb(5, 49, 116);

}
section{
    float: left;
    width: 70%;
    background-color: darkolivegreen;
}
footer{
    padding: 20px;
    grid-column: 1/4;
            text-align: center;
            background-color: rgb(129, 119, 119);
}

aside{
    text-align: center;
    float: left;
    width: 30%;
    background-color: blue;

}
.contenedor::after{
    content:"" ;
    display: block;
    clear: both;
}